::marker {
  display: none;
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
/* hamburger */

.nav-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 110px;
}

header nav .hamburger-icon {
  color: var(--dark-color);
  background-color: transparent;
  font-size: 40px;
  width: 0;
  z-index: 999;
  padding-left: 50px;
}

header nav .close-menu {
  position: absolute;
  left: 270px;
  top: 7vh;
  font-size: 30px;
}

header nav .nav-hamburger ul {
  background-color: var(--white-0);
  position: fixed;
  top: 3vh;
  left: 0;
  width: 340px;
  height: 100%;
  z-index: 1;
  display: none;
  padding-top: 100px;
}

header nav .nav-hamburger li {
  margin-left: 30px;
  line-height: 50px;
  font-size: var(--heading-font-size-m);
  font-weight: 500;
}

header nav .nav-hamburger li a {
  font-size: 16px;
  font-weight: normal;
  line-height: 0;
}

header nav .nav-hamburger span {
  transform: scale(6);
  margin-left: 85px;
  position: absolute;
  top: 35px;
}

header nav .nav-hamburger .hamburger-drop li {
  line-height: 40px;
}

header nav .nav-hamburger .hamburger-drop li:last-child {
  color: var(--text-link);
}

header nav .nav-hamburger .hamburger-drop li:last-child::after {
  content: '';
  display: inline-block;
  border: solid var(--text-link);
  border-width: 0 3px 3px 0; 
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  margin-left: 10px; 
}

/* Adjust the position of the submenu */
header nav .nav-hamburger .hamburger-drop > ul {
  position: absolute;
  left: 100%;
  top: 0;
  width: 350px;
  background-color: var(--white-0);
  border-right: 1px solid #d8d8d8;
  border-radius: 5px;
  display: none;
  padding: 15px;
}

/* Adjust close button when submenu is expanded */
header nav .nav-hamburger.submenu-expanded .close-menu {
  left: 650px;
}

header nav .nav-hamburger li[aria-expanded="true"] {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

/* Remove border from collapsed items */
header nav .nav-hamburger li[aria-expanded="false"] {
  border-top: none;
  border-bottom: none;
}


/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  display: none;
  visibility: hidden;
}

header nav .nav-sections button {
  width: 100%;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-sections ul {
  padding-left: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections .nav-drop li:nth-child(2){
  border-bottom: solid;
  border-bottom: 1px solid #dcdcdc;
  font-size: var(--body-font-size-xs);
}

header nav .nav-sections .nav-drop li:nth-child(2) a {
  color: var(--text-link);
}


@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    padding-right: 16px;
    cursor: pointer;
    line-height: 20px;
  }

  header nav .nav-sections .nav-drop::after {
    content: '▼';
    display: inline-block;
    font-size: 9px;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -250px;
    width: 250px;
    top: 150%;
    padding: 15px 35px;
    white-space: initial;
    z-index: 1;
    background-color: var(--white-0);
    box-shadow: 5px 5px 25px color(display-p3 0 0 0 / 10%);
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    font-size: 16px;

  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  display: flex;
  align-items: center;
  margin-left: 90px;

}

header nav .nav-tools .button {
  margin: 0;
  border: none;
  padding: 0.5em;
  background: none;
  line-height: 0;
  display: inline;
}

header .nav-tools .search {
  width: 35vw;
  max-width: 600px;
  min-width: 50px;
  border: 1px solid #d8d8d8;
  height: 45px;
}

header .nav-tools .search-button {
  background-color: var(--gray-0);
  color: var(--dark-color);
  font-weight: normal;
  border-radius: 5px 0 0 5px;
  border: 1px solid #d8d8d8;
  border-right: none;
  height: 49px;
  text-align: left;
  width: 200px;
  position: relative;
}


header .nav-tools .search-button::after {
  display: inline-block;
  content: '▼';
  position: absolute;
  right: 15px;
  top: 40%;
  font-size: 9px;
}

header .nav-tools .search::placeholder {
  font-size: 12px;
  padding-left: 17px;
}

header .nav-tools .default-content-wrapper {
  background-color: var(--gray-60);
  height: 49px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

header .nav-tools .icon-search {
  height: 30px;
  margin-top: 11px;
  width: 100px;
}

header .nav-tools .search-dropdown{
  margin: 0;
  padding: 0;
  background-color: var(--white-0);
  position: absolute;
  z-index: 999;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-shadow: 5px 5px 25px color(display-p3 0 0 0 / 10%);
  width: 200px
}

/* stylelint-disable-next-line no-descending-specificity */
header .nav-tools .search-dropdown li {
  text-align: left;
  font-size: 13px;
  line-height: 25px;
  padding-left: 10px;
}

header .nav-tools .dropdown-title {
  font-weight: bolder !important;
  color: #a2a2a2;
}

/* stylelint-disable-next-line no-descending-specificity */
header .nav-tools .search-dropdown li:nth-child(1) {
  padding-left: 10px;
  border-bottom: 1px solid #d8d8d8;
}

header .nav-tools .popular-product {
  padding-left: 20px !important;
}

.search-dropdown li.selected {
  background-color: #007fff;
  color: white;
}

