footer {
  font-size: var(--body-font-size-xs);
  background-color: var(--gray-0);
}

footer .footer-menu {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 25px 110px 25px 40px;
}

footer p {
  margin: var(--spacing-00);
}

footer li {
  list-style-type: none;
}

footer .footer-item {
  margin-block-start: 14px;
  line-height: 31px;
}

footer .col-heading {
  line-height: 10px;
}

footer .footer-menu p {
  padding-left: 40px;
}

footer .legal-items a {
  padding-right: 18px;
  border-right: 1px solid #dcdcdc;
}

footer .legal-items a,
footer .footer-menu li a,
footer .footer-legal {
  color: var(--gray-60);
}

footer .legal-items {
  display: flex;
  column-gap: 18px;
  padding-left: 0;
  padding-bottom: 5px;
}

footer .legal-wrapper {
  background-color: var(--white-0);
}

footer .footer-legal {
  display: flex;
  padding: 25px 130px 0 0;
  max-width: 1400px;
  font-size: 11px;
  margin: auto;
}

footer .legal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  padding-left: 60px;
}

footer .legal-content p {
  line-height: 13px;
}

footer .icon-tf-logo {
  transform: scale(4);
  margin: 25px 0 0 100px;
  display: inline-block;
}

footer .footer-legal .country-container {
  display: flex;
  padding-top: 13px;
  position: absolute;
  right: 50px;
}

footer .footer-legal .country-flag {
  width: 16px;
  height: 10px; /* Approximate proportion for country flags */
  object-fit: contain;
  padding-top: 3px;
  padding-right: 5px;
}
